*{
  margin: 0;
  padding: 0;
}

/*NAV------------------------------------------------------------*/
#nav{
  
  
}


/*BOX------------------------------------------------------------*/
.container{
  position: absolute;
  padding: 0px;
  border: 2px solid;
  height: 90%;
}

/*Process------------------------------------------------------------*/
.box{
  border-bottom: 2px solid;
  position: relative;

}
.container .Item{
  margin: 10px 0px;
  padding-right: 20px;
  padding-left: 10px;
}
.container .Title {
  margin: 0px;

}

/*Modal----------------------------------------------------------*/
.modal-body{
  overflow-y: auto;
  max-height: 90%;
  
}

.btn-submit{
  display: block;
  margin:auto;
  width:160px;
}



