*{
  margin: 0;
  padding: 0;
}

html, body
{
    height: 100%;
}

/*MAIN----------------------------------------------------------------------*/

#nav{
  position: relative;
  clear:both;
  background-color: #337ab7;
  margin:0;
  
}
#nav li a{
  color:white;
}

#nav li ul li a{
  color:black;
}


#mainContainer{
  display:flex;
  flex-direction:column;
  position:absolute;
  height:100%;
  width: 100%;
}
.mainContainerDown{
  display:flex;
  flex:2;
  flex-direction:row;
  align-items:stretch;
  
}
.dropZone{
  position:relative;
  flex:3;
  order:2;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid black;
  
}
.chartZone{
  position:relative;
  flex:3;
  order:3;
  border: 1px solid black;
}


/*DRAG_ITEM_ZONE------------------------------------------------------------*/
.containerFlex{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  border:1px solid black;
  
  
}
.center{
  flex:2;
  
}

.center .icons{
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  
}
/*DRAG ITEM ADDER-----------------------------------------------------*/
.adderInput{
 border-style: none;

}
.adderOutput{
 border-style: none;

}
.adderCenter{
  border-radius: 25px
}

/*Process------------------------------------------------------------*/
.container{
  position: relative;
  padding: 0px;
  margin: 0px;
  order:1;
  flex:0.5;
  border: 1px solid;
  cursor: pointer;
  z-index: 1;
  
}
.panel-body{
  padding:0px 
}
.list-group-item{
  margin: 0px;
  font-size:15px;
  font-weight: bold;
}
.list-item {
 display: flex;
 flex-direction: row;
}
.spanContainer{
  display: flex;
  flex-direction: row;
}
.panelTab{
  overflow-y: auto;
  max-height: 120px;
}


/*Modals----------------------------------------------------------*/
.modalContent{
  display: block;
  padding: 10px 50px;
  overflow-y: scroll !important;
}



.btn-submit{
  display: block;
  margin:auto;
  width:160px;
}



